parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
    ignoreErrors:
        - '#^Access to an undefined property Illuminate\\Support\\Fluent.*$#'
        - '#^Return type \(void\) of method .*? should be compatible with return type \(.*?\) of method .*?$#'
        - message: '#^Method Colopl\\Spanner\\Connection::runPartitionedDml\(\) should return int but returns mixed\.$#'
          path: src/Colopl/Spanner/Concerns/ManagesPartitionedDml.php
        - message: '#^Unable to resolve the template type TKey in call to function collect$#'
          path: src/Colopl/Spanner/Concerns/ManagesSessionPool.php
        - message: '#^Parameter \#1 \$pdo of method Illuminate\\Database\\Connection::__construct\(\) expects Closure|PDO, null given.$#'
          path: src/Colopl/Spanner/Connection.php
        - message: '#^Method Colopl\\Spanner\\Connection::select\(\) should return array but returns mixed\.$#'
          path: src/Colopl/Spanner/Connection.php
        - message: '#^Cannot cast mixed to int\.$#'
          path: src/Colopl/Spanner/Eloquent/Model.php
        - message: '#^Method Colopl\\Spanner\\Schema\\Builder::createBlueprint\(\) should return Illuminate\\Database\\Schema\\Blueprint but returns mixed\.$#'
          path: src/Colopl/Spanner/Schema/Builder.php
        - message: '#^Property Illuminate\\Database\\Schema\\Builder::\$resolver \(Closure\) in isset\(\) is not nullable.$#'
          path: src/Colopl/Spanner/Schema/Builder.php
        - message: '#^Parameter \#1 \$value of method Illuminate\\Database\\Schema\\Grammars\\Grammar::wrap\(\) expects Illuminate\\Database\\Query\\Expression\|string, Illuminate\\Database\\Schema\\ColumnDefinition given.$#'
          path: src/Colopl/Spanner/Schema/Grammar.php
