parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#^Return type \(void\) of method .*? should be compatible with return type \(.*?\) of method .*?$#'
        - message: '#^Method Colopl\\Spanner\\Connection::runPartitionedDml\(\) should return int but returns mixed\.$#'
          path: src/Concerns/ManagesPartitionedDml.php
        - message: '#^Unable to resolve the template type TKey in call to function collect$#'
          path: src/Concerns/ManagesSessionPool.php
        - message: '#^Parameter \#1 \$pdo of method Illuminate\\Database\\Connection::__construct\(\) expects Closure|PDO, null given\.$#'
          path: src/Connection.php
        - message: '#^Method Colopl\\Spanner\\Connection::selectWithOptions\(\) should return array<int, array> but returns mixed\.$#'
          path: src/Connection.php
        - message: "#^Return type \\(Generator\\<int, array, mixed, mixed\\>\\) of method Colopl\\\\Spanner\\\\Connection\\:\\:cursor\\(\\) should be compatible with return type \\(Generator\\<int, stdClass, mixed, mixed\\>\\) of method Illuminate\\\\Database\\\\Connection\\:\\:cursor\\(\\)$#"
          count: 1
          path: src/Connection.php
        - message: '#^Generator expects value type array, mixed given.$#'
          path: src/Connection.php
          count: 1
        - message: '#^Cannot cast mixed to int\.$#'
          path: src/Eloquent/Model.php
        - message: '#^Property Illuminate\\Database\\Schema\\Builder::\$resolver \(Closure\) in isset\(\) is not nullable\.$#'
          path: src/Schema/Builder.php
        - message: '#^Parameter \#1 \$connection of method Illuminate\\Database\\DatabaseTransactionsManager::.+\(\) expects string, string\|null given\.$#'
          path: src/Concerns/ManagesTransactions.php
        - message: '#^Property Colopl\\Spanner\\Session\\SessionInfo\:\:\$labels \(array\<string, string\>\) does not accept array\.$#'
          path: src/Session/SessionInfo.php
          count: 1
        - message: "#^Method Colopl\\\\Spanner\\\\SpannerServiceProvider\\:\\:parseConfig\\(\\) should return array\\{name\\: string, instance\\: string, database\\: string, prefix\\: string, cache_path\\: string|null, session_pool\\: array\\<string, mixed\\>\\} but returns non\\-empty\\-array\\<string, mixed\\>\\.$#"
          count: 1
          path: src/SpannerServiceProvider.php
        - message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
          count: 1
          path: src/Connection.php
        - message: "#^Cannot access offset 'requestTag' on mixed\\.$#"
          count: 1
          path: src/Connection.php
        - message: "#^Parameter \\#2 \\$length of method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:string\\(\\) expects int\\|null, int\\|string\\|null given\\.$#"
          count: 1
          path: src/Schema/Blueprint.php
        - message: "#^Parameter \\#1 \\$array of class Colopl\\\\Spanner\\\\Query\\\\Nested constructor expects array\\<int, mixed\\>\\|Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<int, mixed\\>, mixed given\\.$#"
          count: 1
          path: src/Query/Builder.php
